@model SimpleCalculator.Models.ViewModels.SimpleCalcVM

@{
    ViewData["Title"] = "Spectra";
}

<form asp-controller="Home" asp-action="AddToCalc" method="post">
    <div class="row col-md-12">
        <div class="col-md-8 col-sm-12">
            <div class="row col-md-12">
                <div class="form-group col-md-8">
                    <label class="">Select Register</label>
                    <select class="form-control" asp-items="Model.Registers" asp-for="SelectedRegister">
                        <option value="" selected> -- Select Register --</option>
                    </select>
                    <span class="text-danger" asp-validation-for="SelectedRegister"></span>
                </div>
                <div class="form-group col-md-4">
                    <label>Select Operation</label>
                    <select class="form-control" asp-items="Model.Operations" asp-for="SelectedOperation">
                        <option value="" selected> -- Select --</option>
                    </select>
                    <span class="text-danger" asp-validation-for="SelectedOperation"></span>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="form-group col-md-8">
                    <label class="">Select Register to calculate from</label>
                    <select id="ddlSecondRegister" class="form-control" onchange="onRegSelect()" asp-items="Model.Registers" asp-for="SecondRegister">
                        <option value="" selected>-- Select register to add --</option>
                    </select>
                    <span class="text-danger" asp-validation-for="SecondRegister"></span>
                </div>
                <div class="form-group col-md-4">
                    <label>Value</label>
                    <input id="tbValue" class="form-control" type="number" asp-for="Value" />
                    <span class="text-danger" asp-validation-for="Value"></span>
                </div>
            </div>
            <div class="row col-md-12">
                <button type="submit" class="btn btn-block btn-outline-success">Submit</button>
            </div>
        </div>
        <div class="col-md-4">
            @* Displays result from last operation *@
            @TempData["regValue"]
        </div>
    </div>
</form>

<script>
    //Disables value input and set's it to 0 if a second register is selected
    function onRegSelect() {
        let _valueBox = $("#tbValue");
        let _secondRegister = $("#ddlSecondRegister").children("option:selected").text();

        if (_secondRegister == "-- Select register to add --") {
            _valueBox.prop("readonly", false);
        }
        else {
            _valueBox.prop("readonly", true);
            _valueBox.val(0);
        }
    };
</script>
